extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.pb-3
        .row
            .col-12
                +box-head("Tạo phòng")
        .row
            .col-12
                .room-chat-create
                    form(
                        action=`/rooms-chat/create`
                        method="POST"
                    )
                        div(class="form-group")
                            label(for="title") Tiêu đề
                            input(
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                required
                                width ="75%"
                            )
                        div(
                            class="form-group"
                            upload-image
                        )
                            label(for='avatar') Avatar 
                            input(
                                type="file"
                                class="form-control-file"
                                id="avatar"
                                name="avatar"
                                accept="image/*"
                                upload-image-input
                            )
                            div(class="mt-3")
                                img(
                                    src = ""
                                    upload-image-preview
                                    height="150px"
                                )
                        div(class="form-group")
                            label Thêm thành viên
                            each friend in friendList
                                div(class="form-check")
                                    input(
                                        class="form-check-input"
                                        type="checkbox"
                                        value=friend.user_id
                                        id=`user-${friend.user_id}`
                                        name="usersId"
                                    )
                                    label(
                                        class="form-check-label"
                                        for=`user-${friend.user_id}`
                                    ) #{friend.infoFriend.fullName}

                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-primary"
                            ) Tạo mới