include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.d-flex.align-items-center
            .col-md-2
                .inner-logo
                    a(href="/")
                        img(src=settingGeneral.logo, alt="Logo")
            .col-md-3 
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                            required
                            style="width:75%;  margin-right:5px"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-md-4
                .inner-menu
                    ul 
                        li  
                            a(href="/") Trang chủ

                        li(class="sub-menu")
                            - const pathProduct ="/products";
                            a(href=pathProduct) 
                                <span> Sản phẩm </span>
                                <i class="fa-solid fa-angle-down" ></i>

                            if(layoutCategoryProducts)  
                                +sub-menu(layoutCategoryProducts, pathProduct)
            .col-md-1
                .inner-cart 
                    a(href="/cart" class="inner-cart-logo") 
                        <i class="fa-solid fa-cart-shopping"></i>
                        span(class ="inner-cart-text")  #{miniCart ? miniCart.totalQuantity : "0"}
            .col-md-2 
                .inner-user 
                    if(user) 
                        a(class="user-avatar") 
                            div(class="user-avatar-image")
                                img(src = user.avatar ? user.avatar : "/images/avatar-none.jpg", alt="image")
                            div(class="user-avatar-name") #{user.fullName} 

                        ul(class="user-submenu")
                            li
                                a(href="/user/info") Tài khoản của tôi
                            li
                                a(href="/user/orders") Đơn mua
                            //- li
                            //-     a(href="/chat") Chat 
                            li
                                a(href="/users/friends") Bạn bè 
                            li
                                a(href="/user/logout") Đăng xuất
                    else 
                        ul(class="header-auth")
                            li 
                                a(href="/user/login") Đăng nhập
                            li 
                                a(href="/user/register") Đăng ký