include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.d-flex.align-items-center
            .col-md-2
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg", alt="Logo")
            .col-md-4 
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                            required
                            style="width:75%;  margin-right:5px"
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-md-5
                .inner-menu
                    ul 
                        li  
                            a(href="/") Trang chủ

                        li(class="sub-menu")
                            - const pathProduct ="/products";
                            a(href=pathProduct) 
                                <span> Sản phẩm </span>
                                <i class="fa-solid fa-angle-down" style="position:relative; top:2px"></i>


                            if(layoutCategoryProducts)  
                                +sub-menu(layoutCategoryProducts, pathProduct)
            .col-md-1
                .inner-cart 
                    a(href="/cart") 
                        <i class="fa-solid fa-cart-shopping"></i>
                        span (#{miniCart ? miniCart.totalQuantity : "0"})