extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    .container.my-5 
        .row.justify-content-center
            .col-6 
                h2(class="text-center") Đăng nhập 
                form(
                    action=`/${prefixAdmin}/auth/login`
                    method="POST"
                    form-auth
                )
                    div(class="form-group") 
                        label(for="email") Email
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                            required
                            placeholder ="admin@gmail.com mật khẩu 123456"
                        )
                    div(class="form-group")
                        label(for="password") Mật khẩu
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                            required
                        )  
                    div(class="form-check")
                        input(
                            class="form-check-input " 
                            type="checkbox" value="" 
                            id="checkbox"
                            style="cursor: pointer"
                        )
                        label(
                            class="form-check-label" 
                            for="checkbox"
                            style="cursor: pointer"
                        ) Hiển thị mật khẩu
 
                    div(class="form-group mt-3")
                        button(
                            type="submit"
                            class="btn btn-primary btn-block"
                        ) Đăng nhập
