extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/go-back.pug

block main
    +alert-success(3000)    
 
    .container
        .product-detail#product-detail
            .product-detail-top 
                .row 
                    .col-6 
                        .inner-thumb
                            img(src=product.thumbnail, alt=product.title)
                    .col-6 
                        h1(class="inner-title-top") #{product.title}
                        if(product.category)
                            div(class="inner-category")
                                span Danh mục: 
                                    a(href=`/products/${product.category.slug}`) #{product.category.title}
                        div(class="inner-wrap")
                            if (product.price)
                                div(class="inner-price-old") 
                                    span(class="inner-price-old-number") #{product.priceOld}
                                    span(class="inner-price-old-text") (inclusive off all taxes)
                            if (product.priceNew)
                                div(class="inner-price-new") #{product.priceNew} 
                                    if (product.discountPercentage)
                                        div(class="inner-percent") 
                                            span #{product.discountPercentage} % OFF

                        if(product.stock)
                            div(class="inner-stock") Còn lại: 
                                span(stock-qty=product.stock) #{product.stock} 
                                |sản phẩm 
                        
                        form(
                            action=`/cart/add/${product.id}`
                            method="POST"
                            class="cart-form"
                            form-detail
                        )
                            div(class="inner-box-quantity") 
                                span(class="qty-label") Số lượng:  
                                span(class="button-change-qty " button-change-qty-up ) <i class="fa-solid fa-plus"></i>
                                input(
                                    class="form-control"
                                    type="text"
                                    name="quantity"
                                    value= "1"
                                    min="1"
                                    max=product.stock
                                )
                                span(class="button-change-qty" button-change-qty-down) <i class="fa-solid fa-minus"></i>
                            button(
                                type="submit"
                                class="btn btn-success btn-block"
                            ) Thêm vào giỏ hàng
            if(product.description != "")
                +box-head("Mô tả sản phẩm")
                .product-detail-bottom
                    .row 
                        .col-12 
                            .inner-desc !{product.description}
