extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/go-back.pug
block main 
    .container
        .row 
            .col-12   
                +box-head(pageTitle)
           
        .row 
            each item in products 
                .col-3.mb-3 
                    a(class="product-item" href=`/products/detail/${item.slug}`)
                        div(class="product-item__img")
                            img(src=item.thumbnail, alt=item.title)
                        h4(class="product-item__name") #{item.title}
                        div(class="product-item__price")
                            span(class="product-item__price-old") #{item.priceNew} $
                            span(class="product-item__price-current") #{item.price} $
                        if(item.featured == "1")
                            div(class="product-item__featured")
                                <i class="fa-solid fa-check"></i>
                                span Nổi bật
                        div(class="product-item__sale-off")
                            span(class="product-item__percent") #{item.discountPercentage} %
                            span(class="product-item__sale-off-label") GIẢM
                        div(class="product-item-line")
        .col-12
            div(class="text-right")
                +goBack()