extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
include ../../mixins/alert.pug 
block main 
    +alert-success(3000)
    .container
        .row 
            .col-12 
                +box-head("Chat")  
        include ../../partials/list-btn-users.pug

        .row 
            .col-12  
                if(roomChat.typeRoom == "group")   
                    div(class ="mt-2")
                        h3(class ="m-0" style = "color: #EE4D2D; font-size: 26px") #{roomChat.title}
                
        .row.mt-4       
            div(class = `${roomChat.typeRoom == "group" ? "col-9" : "col-12"}`)
                .chat(my-id= user.id) 
                    .inner-body 
                        each chat in chats
                            div(class=(chat.infoUser.id == user.id ? "inner-outgoing": "inner-incoming"))
                                if(chat.infoUser.id != user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                if(chat.content)
                                    .inner-content
                                        | #{chat.content} <br>
                                if(chat.images)
                                    .inner-images
                                        each image in chat.images
                                            img(src= image, alt="")
                        div(class="inner-list-typing")
                    
                    .inner-preview-images
                        div(class="custom-file-container" data-upload-id="upload-image")
                    .inner-foot 
                        form(
                            action=""
                            class="inner-form"
                        ) 
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )
                            label(
                                class=" btn btn-light mx-2 mb-0"
                                for = "file-upload-with-preview-upload-image"
                            ) 
                                <i class="fa-regular fa-image"></i>
                            span(class="button-icon btn btn-light mx-2")
                                <i class="fa-regular fa-face-smile"></i>
                            button(type="submit")
                                <i class="fa-solid fa-paper-plane"></i>

            if(roomChat.typeRoom == "group") 
                .col-3(data-users-friend)
                    .friend-list
                        h5(class="mb-3" style="fontsize = 26px; color: #EE4D2D") Danh sách thành viên
                        .row
                            if(user.id == roomChat.superAdminId)
                                .col-12
                                    div(style ="display: flex; justify-content:space-between") 
                                        div
                                            a(
                                                href=`/rooms-chat/${roomChat._id}/add-member`
                                                class="btn btn-sm btn-primary mb-3"
                                            ) Thêm thành viên
                                        button(
                                            class="btn btn-sm btn-danger mb-3"
                                            data-id = roomChat._id
                                            button-delete-group-chat
                                        ) Xóa phòng
                            each item in roomChat.users
                                .col-12
                                    div(class="box-user")
                                        div(class="inner-avatar")
                                            img(
                                                src= item.infoUser.avatar ? item.infoUser.avatar : "/images/avatar-none.jpg",
                                                alt= item.infoUser.fullName
                                            )
                                        div(class="inner-info")
                                            div(class="inner-name") 
                                                a(href=`/users/${item.user_id}`) #{item.infoUser.fullName}
                                            
                                            div(class="inner-buttons")
                                                // nếu người dùng đang đăng nhập có id = superAdminId và khác với id đang lặp qua
                                                // thì hiển thị nút xóa khỏi nhóm
                                                if((user.id == roomChat.superAdminId) && (user.id != item.user_id))
                                                    button(
                                                        class="btn btn-sm btn-danger"
                                                        btn-delete-member-out-group = item.user_id
                                                        super-admin-id = roomChat.superAdminId
                                                        room-chat-id = roomChat.id
                                                    ) Xóa khỏi nhóm
                                                    button(
                                                        class="btn btn-sm btn-danger"
                                                        btn-deleted-member-out-group
                                                        disabled
                                                    ) Đã Xóa khỏi nhóm
                                                // nếu người dùng đang đăng nhập có id khác với id đang lặp qua và khác với superAdminId
                                                // thì hiển thị nút rời nhóm
                                                if((item.user_id == user.id) && (item.user_id != roomChat.superAdminId)) 
                                                    div 
                                                        a(
                                                            class="btn btn-sm btn-danger"
                                                            btn-member-leave-group = user.id
                                                            room-chat-id = roomChat.id
                                                            href = "/rooms-chat"
                                                        ) Rời nhóm
                                                if(item.user_id == roomChat.superAdminId)
                                                    div 
                                                        span(
                                                            class="badge badge-success ml-2 p-2"
                                                        ) Trưởng nhóm
                                        div(
                                            class="inner-status"
                                            status = item.infoUser.statusOnline
                                        ) <i class="fa-solid fa-circle"></i>
    form(
        id = "form-delete-chat-group"
        method="POST"
        action = ""
        data-path= "/rooms-chat/delete/"
    )

    div(class='tooltip' role="tooltip")
        emoji-picker(class="light")

    block script 
        script(type="module" src="/js/chat.js") 

    

