extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 
block main 
    .container
        .row 
            .col-12 
                +box-head("Chat")  
            .col-12 
                .chat(my-id= user.id) 
                    .inner-body 
                        each chat in chats
                            div(class=(chat.infoUser.id == user.id ? "inner-outgoing": "inner-incoming"))
                                if(chat.infoUser.id != user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                if(chat.content)
                                    .inner-content
                                        | #{chat.content} <br>
                                if(chat.images)
                                    .inner-images
                                        each image in chat.images
                                            img(src= image, alt="")
                        div(class="inner-list-typing")
                        
                    .inner-foot 
                        form(
                            action=""
                            class="inner-form"
                        ) 
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                            )
                            div(class="custom-file-container" data-upload-id="upload-image")
                            span(class="button-icon btn btn-light mx-2")
                                <i class="fa-regular fa-face-smile"></i>
                            button(type="submit")
                                <i class="fa-solid fa-paper-plane"></i>

    div(class='tooltip' role="tooltip")
        emoji-picker(class="light")

    

