mixin sub-menu(items, path)
    ul 
        each item in items 
            li 
                a(href=`${path}/detail/${item.slug}`) 
                    span #{item.title}
                    if(item.children && item.children.length > 0) 
                        i(
                            class="fa-solid fa-angle-right"
                            style="position: relative; top:1px; margin-left: 1px"
                        )
                if(item.children && item.children.length > 0)
                    +sub-menu(item.children, path)