extends ../../layouts/default.pug 
include ../../mixins/alert.pug
block main 
    +alert-success(5000)
    +alert-error(5000)
    .container.my-5
        .row.justify-content-center 
            .col-6 
                h2(class="text-center") Đăng nhập tài khoản
                form(
                    action="/user/login" 
                    method="POST"
                    form-register
                )
                    div(class="form-group")
                        label(for="email") Email    
                        input(
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                        )
                    div(class="form-group")
                        label(for="password") Password    
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                        )
                    div(class="form-check")
                        input(
                            class="form-check-input " 
                            type="checkbox" value="" 
                            id="checkbox"
                            style="cursor: pointer"
                        )
                        label(
                            class="form-check-label" 
                            for="checkbox"
                            style="cursor: pointer"
                        ) Hiển thị mật khẩu

                    div(class="form-group mt-3")
                        button(
                        type="submit"
                        class="btn btn-primary btn-block"
                    ) Đăng nhập
                div(class="d-flex justify-content-between")
                    a(href="/user/register") Hoặc đăng ký
                    a(href="/user/password/forgot") Quên mật khẩu?
                                
                        